//
// Types
//

h1
  font-family 'KonsensBold'

h2
h4
  font-family 'KonsensRegular'

h3
 font-family 'KonsensLight'
 span
   height 4px
   background-color $brand-primary
   display block
   width 100%
   margin-top 5px
   span
     background-color #b49600
     width 30%

h5
  font-family 'Roboto', sans-serif
