//
// Overriding Bootstrap Variables
// --------------------------------------------------

$brand-primary                      = #7c1870
$text-color                         = #333
$font-family-base                   = 'Montserrat', sans-serif
$font-size-base                     = 16px
$navbar-height                      = 79px
$navbar-margin-bottom               = 0
$navbar-border-radius               = 0
$navbar-default-bg                  = transparent
$navbar-default-border              = transparent
$navbar-default-link-color          = #fff
$navbar-default-link-hover-color    = #fff
$navbar-default-link-hover-bg       = darken(#683061, 1.5)
$navbar-default-toggle-hover-bg     = transparent
$navbar-default-toggle-icon-bar-bg  = #fff
$navbar-default-toggle-border-color = transparent
$modal-inner-padding                = 0px
$modal-title-padding                = 0px
$modal-content-bg                   = #fff
$modal-content-border-color         = transparent
$modal-header-border-color          = transparent
$modal-backdrop-opacity             = .5
