::-webkit-scrollbar {
  width: 10px
}

::-webkit-scrollbar-track-piece {
  background-color: #EEE;
  border-left: 1px solid #CCC
}

::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-thumb:vertical {
  background-color: #945ea4
}

::-webkit-scrollbar-thumb:horizontal:hover,::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #24b5bc
}
